PGID=816
PUID=816
PLEX_UID=816
PLEX_GID=816
HOSTNAME=pfd.net
DATA=/nfs/media
DOWNLOAD=/nfs/media/download
PLEXDATA=/opt/plex/config/Library/Application Support
PLEXCLAIM=GET_A_PLEX_CLAIM
NGINX_FILES_PATH=/nfs/media/config/nginx
EMAIL=you@email.com
